<div class="container mx-auto px-4 mt-2">
  <h1 class="text-3xl">Exzeitable</h1>

  <div class="mt-2">
    This is a site with examples for
    <.link href="https://github.com/alanvardy/exzeitable" class="text-blue-600" target="_blank">
      Exzeitable
    </.link>
  </div>
  <ul>
    <li><.link href={~p"/users"}>Users table</.link></li>
  </ul>
</div>
